body,html{
	margin:0;
	color:#272829;
	font-family: "oswlad","sans-serif";
	overflow-x: hidden;
	padding:0;
}
#home{
	overflow-y: hidden;
}

.bg{
	opacity:0.9;
	margin:0;
	height:100vh;
	position:relative;
	background-image:url("bg.jpg");
	background-position: contain ;
	background-size:100% 120vh;
	background-repeat: no-repeat;

}
.heading{
	position:absolute;
	color:#f9f9f9;
	opacity:1;
	font-size:30px;
	left:330px;
	top:290px;
	z-index:-1;
	}
	.heading span{
		text-decoration: underline;
		text-decoration-color: #007aff;
		
	}
.hamtonav{
	display:none;
}
.nav{
	display:block;
	background-color:#040b14;
	text-align:center;
	width:280px;
	height:100vh;
	color:#fff;
	overflow-y: scroll;
	animation-name:ease;
	animation-duration: 0.2s;
	}

	.nav img{
		width:110px;
		height:110px;
		border-radius:60%;
		margin-top:15px;
		border:7px solid #132743;
	}

	.nav h1{
		margin:5px;
		font-size:28px;

	}
	.nav li{
		list-style-type: none;
		text-align: left;
		font-size:18px;
	}

	.nav a{
		text-decoration: none;
		color:white;
	}

	.social-media-icon{
		margin-right: 10px;
		margin-left:0;
		color:white;
		padding:9px;
		border-radius:50%;
		background-color: #132743;}

	.social-media-icon:hover{
		background-color: #035aa6;
		color:white;
	}		
	.f{
			padding:10px;
			width:13px;
		}
.nav i{
color:#a8a9b4 ;
padding:10px;
}
.nav i:hover{
	color: #fff;

}
nav li{
	color:#a8a9b4;
	text-align:left;
	padding-bottom:20px;
}
nav li:hover{
	color:#fff;

}
h2{
	color:#173b6c;
	position: relative;
	font-size: 28px;
	margin-bottom:30px;
}

h2::after{
	content:"";
	display:block;
	position:absolute;
	top:40px;
	width:50px;
	height:3px;
	background:#149ddd;
}

h3{
	color:#173b6c;
	margin-top:40px;
	font-size:25px;
}

.container{

	margin:50px 35px;
	
}

span{
	margin-left:20px;
}
li{
	text-align:left;
	padding-bottom:20px;
}
#about{
	background-color:#f5f8fd;
	height:100vh;
}
#about .container{
	padding-top:20px;
		
}
#skills{
	background-color:#f5f8fd;
}
#skills li{
	font-size:12px;
	list-style-type: none;
	margin-top:10px;
}

.eighty{
	width:80%;
	height:10px;
	background:#149ddd;
	animation:load 2s 0s;
}

.forty{
	width:40%;
	height:10px;
	background:#149ddd;
	animation:load 2s 0s;
}

.node{
	width:50%;
	height:10px;
	background:#149ddd;
	animation:load 2s 0s;
}

.mongo{
	width:30%;
	height:10px;
	background:#149ddd;
	animation:load 2s 0s;
}
.sixty{
	width:60%;
	height:10px;
	background:#149ddd;
	animation:load 2s 0s;
}
#skills .container{
	padding-top:20px;
		
}
#skills ul{
	position:relative;
}
#skills span{
	position:absolute;
	font-weight: bold;
	right:0px;
}

#resume{
	background-color:#f5f8fd;

}
#resume .container{
	padding-top:20px;
	padding-bottom:20px;
}
#resume button{
	margin-top:20px;
	padding:10px;
	background: #007aff;
	color:white;
	border:1px solid #007aff;
	border-radius: 5%;
}



#resume button:hover{
	box-shadow:2px 1px 4px black;
}
#projects{
	background-color:#f5f8fd;
	height:auto;
	overflow-y: scroll;

}
.flex1{
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	text-align:center;
}

.flex2{
	display:flex;
		
	flex-wrap: wrap;
	justify-content: center;
	width:300px;
	height:auto;
	background: #fff;
	margin-right:30px;
	margin-bottom: 30px;

	padding-bottom:10px;
	}
.flex2 img{
	width:300px;
	height:150px;
	transition:width 2s height 2s;
	transition-timing-function: ease-in;
}
#projects .container{
	margin:30px 10px;
}
.flex2 h3{
	padding:10px;
	font-size: 20px;
	margin-top:0px;
	margin-bottom:0px;
}
.flex2 img:hover{

	opacity:0.7;
}

#projects button{
	margin-top:20px;
	padding:10px;
	background: #007aff;
	color:white;
	border:1px solid #007aff;
	border-radius: 5%;
}
#projects button:hover{
	box-shadow:2px 1px 4px black;
}
@keyframes load{
	from{
		width:0%;
	}
}

footer{
	text-align:center;
	padding:10px;
	background:#040b14;
	color:#fff;
}
.hm {
	position:fixed;
	text-align: center;
	right:0;
	bottom:0;
	margin-right: 10px;
	margin-bottom:10px;
	background-color: #007aff;
	width:40px;
	height:auto;
	border-radius: 50%;
	padding:15px 5px;
	font-weight: lighter;
	text-decoration: none;
	color:#fff !important;
	z-index:1;
}
.hm:hover{
	box-shadow:2px 1px 4px black;
}
.hamburger{
	position:absolute;
	right:0;
	top:0;
	margin-right:10px;
	margin-top:10px;
	width:40px;
	height:auto;
	background-color: #007aff;
	border-radius: 50%;
	border:1px solid #007aff ;
	padding:12px 10px;
	color:white;
}

.hamburger:hover{
	box-shadow:2px 1px 4px black;}
#projects .container{
	padding-top:10px;
}

button:focus{
	outline-style: none;
}

@media (max-width:600px){
	.bg{
	opacity:0.9;
	margin:0;
	height:100vh;
	position:relative;
	background-image:url("bgm.jpg");
	background-position: contain ;
	background-size:100% 120vh;
	background-repeat: no-repeat;

}
.flex2{
	display:flex;
		
	flex-wrap: wrap;
	justify-content: center;
	width:300px;
	height:auto;
	background: #fff;
	margin-right:10px;
	margin-bottom: 30px;

	padding-bottom:10px;
	}
	.heading{
	position:absolute;
	color:#f9f9f9;
	opacity:1;
	font-size:30px;
	left:30px;
	top:390px;
	z-index:-1;
	}
	.heading span{
		text-decoration: underline;
		text-decoration-color: #007aff;
		

}